{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')} has-feedback has-clear">
	<v:variable.set name="label" value="{method.llpath}payment.method" />
	<v:variable.set name="label" value="{f:translate(key: label, extensionName:method.extkeyUCC )}" />
	<label class="control-label" for="{fieldName}[payment][vrpayentityid]">{label}</label>
	<f:form.select class="form-control" name="{fieldName}[payment][vrpayentityid]" options="{method.methods}" />
</div>