{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div>Bezahlart: {payment.info.paymentBrand} (über VR pay)</div>
<div>Betrag: {payment.info.amount} Eur</div>
<div>Bezahlzeitpunkt: {f:format.date(date:item.paid,format:'d.m.Y H:i')}</div>