{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:switch value="{payment.vrpayentityid}">
    <v:case case="8a8394c35162f1e901516c394a4c2d79" break="TRUE">
       <form action="{prepared.processUrl}" class="paymentWidgets">VISA MASTER</form>	  
    </v:case>
	<v:case case="8a8394c45163064001518710f2780453" break="TRUE">
       <form action="{prepared.processUrl}" class="paymentWidgets">PAYPAL</form>	  
    </v:case>
</v:switch>
<script>
    var wpwlOptions = {
        locale: "de"
    }
</script>
<script src="{v:format.replace(substring: '##ID##', content: payment.config.settings.urls.widget, replacement:prepared.vrpaycheckoutid )}"></script>